.centered {
  align-items: center;
  align-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
}

.theme-icon:hover {
  cursor: pointer;
}
.theme-icon .theme-icon-back {
  display: block;
  width: 75px;
  height: 25px;
  border-radius: 10px;
  transition: 0.5s;
}

.theme-circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  transition: 0.5s ease-in-out;
}